@import "../../../../styles/core/core.scss";

.navigation__social {
  display: none;
  grid-template-columns: repeat(4, 40px);
  column-gap: 16px;
  justify-content: center;
  align-items: center;
  @include media("min", "lgBig") {
    display: grid;
  }
  &.mobile {
    display: grid;
    justify-content: start;
  }
}
