:root {
  --main-color: #0a0a0a;
  --white: #ffffff;
  --placeholder-color: rgba(10, 10, 10, 0.3);
  --form-inputs-border: 1px solid rgba(10, 10, 10, 0.4);
  --action-bg: rgba(0, 0, 0, 0.2);
  --error: rgb(246, 108, 108);
  --yellow: #fbda94;
  --yellow-hover: #ab8a44;
  --yellow-dark: #a37e30;
  --main-bg: #f4f4f4;
  --border-nav-color: rgb(255 255 255 / 0.3);
}
