.w-full {
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
  @media screen and (min-width: 2500px) {
    max-width: 1840px;
  }
}

picture {
  display: block;
}
.object-cover {
  object-fit: cover;
  width: inherit;
  height: inherit;
}

.border--default {
  border-radius: 8px;
}
