body {
  @include font(rem(16px), rem(18px));
  font-weight: 400;
  color: var(--main-color);
  background-color: var(--main-bg);
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

// Style for texts
.txt {
  &--underline {
    text-decoration: underline;
    text-underline-offset: 23%;
    text-decoration-thickness: 1px;
  }
  &--small {
    @include font(rem(14px), rem(18px));
  }
  &--invalid {
    @include font(rem(12px), rem(14px));
    font-weight: 600;
  }
  &--uppercase {
    text-transform: uppercase;
  }
  &--medium {
    font-weight: 500;
  }
  &--semibold {
    font-weight: 600;
  }
  &--bold {
    font-weight: 700;
  }
  &--yellow {
    color: var(--yellow-hover);
  }
  &--underline {
    text-decoration-line: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
  }
  &--menu {
    @include font(rem(20px), rem(20px));
    @include media("min", "md") {
      @include font(rem(13px), rem(20px));
    }
    @include media("min", "lg") {
      @include font(rem(15px), rem(20px));
    }
    @include media("min", "lgBig") {
      @include font(rem(13px), rem(20px));
    }
    @include media("min", "xl") {
      @include font(rem(16px), rem(20px));
    }
  }
}

// Style for list
.list__check {
  @extend .txt--small;
  display: grid;
  gap: 10px;
  margin-bottom: 15px;
  @include media("min", "lg") {
    @include font(rem(16px), rem(20px));
    gap: 13px;
    margin-bottom: 20px;
  }
  @include media("min", "2xxl") {
    @include font(rem(20px), rem(28px));
    gap: 11px;
  }
  &--item {
    display: grid;
    justify-content: flex-start;
    grid-template-columns: repeat(2, minmax(0, auto));
    gap: 8px;
  }
  &--icom {
    width: 32px;
    height: 32px;
  }
}
