@import "../../../../styles/core/core.scss";

.form__block {
  max-width: 880px;
  display: grid;
  gap: 15px;
  @include media("min", "lg") {
    gap: 20px;
  }
  &--txt {
    @include font(rem(16px), rem(20px));
    @include media("min", "lg") {
      @include font(rem(20px), rem(28px));
    }
    @include media("min", "2xxl") {
      @include font(rem(24px), rem(32px));
    }
  }
  &--note {
    margin-top: 15px;
    max-width: 394px;
    width: 100%;
    @include media("min", "lg") {
      @include font(rem(16px), rem(20px));
      margin-top: 20px;
    }
    @include media("min", "2xxl") {
      @include font(rem(20px), rem(28px));
    }
  }
}
