@import "../../../../styles/core/core.scss";

.main__menu {
  &--item {
    white-space: nowrap;
    padding: 20px 0;
    border-top-width: 1px;
    border-style: solid;
    border-color: var(--border-nav-color);
    @include media("min", "md") {
      padding: 0;
      border-top-width: 0;
    }
  }
  &--link {
    @extend .txt--uppercase;
    @extend .txt--bold;
    @extend .txt--menu;
    text-decoration: none;
    @include hover(var(--main-color), var(--yellow-hover));
    &.single--link {
      @include hover(var(--white), var(--yellow-hover));
    }
  }
}
