@import "../../../styles/core/core.scss";
@import "swiper/scss";
@import "swiper/scss/navigation";

.swiper {
  &__controls {
    @include flex(center, flex-end);
    position: relative;
    height: 60px;
    margin-top: 60px;
    padding-right: 20px;
    @include media("min", "xl") {
      padding-right: 100px;
      justify-content: space-between;
    }
    &--navigation {
      display: none;
      position: relative;
      justify-content: flex-start;
      gap: 16px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      @include media("min", "xl") {
        display: grid;
      }
      .swiper-prev,
      .swiper-next {
        .icon {
          width: 32px;
        }
      }
      .swiper-prev .icon {
        transform: rotate(180deg);
      }
    }
    &--button {
      width: 164px;
    }
    &--buttons {
      display: grid;
      gap: 8px;
      grid-template-columns: repeat(3, max-content);
      align-items: center;
    }
  }
}
