@import "../../../styles/core/core.scss";
.text__icon {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, auto));
  justify-content: start;
  align-items: center;
  @include font(rem(16px), rem(24px));
  font-weight: 600;
  color: var(--white);
  height: rem(24px);
  gap: rem(8px);
  &.phone {
    grid-template-columns: 1fr;
    height: auto;
    .text__icon {
      text-decoration: none;
      color: var(--white);
      @include transition;
    }
    &:hover {
      .text__icon {
        color: var(--yellow-hover);
      }
      .text__icon--icon {
        --icon-color: var(--yellow-hover);
        @include media("min", "md") {
          --icon-color: initial;
        }
      }
    }
  }
  &--icon {
    width: rem(24px);
  }
  &--phone {
    display: none;
    @include media("min", "md") {
      display: inline;
    }
  }
}
