@import "../../../styles/core/core.scss";

// Style for FORM body
.form {
  &__contact {
    display: grid;
    gap: rem(15px);
    @include minmaxwidht(rem(240px), 100%, 880px);
  }
}

// Style for buttons
.form__button {
  margin-top: 15px;
}

// Styles for Form Note
.form__note {
  margin-top: 30px;
  @include minmaxwidht(rem(240px), 100%, 300px);
}
