@import "../../../styles/core/core.scss";

// Style for FORM body
.form {
  &__contact {
    display: grid;
    gap: 15px;
    max-width: 880px;
    width: 100%;
    @include media("min", "md") {
      gap: 20px;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .form__button {
      margin-top: 15px;
      @include media("min", "md") {
        grid-column: span 3 / span 3;
      }
      @include media("min", "lg") {
        margin-top: 20px;
      }
    }
  }
  &__selection {
    display: grid;
    gap: 30px;
    max-width: 880px;
    width: 100%;
    @include media("min", "md") {
      gap: 20px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include media("min", "xl") {
      gap: 40px;
    }
    .form__group {
      &:not(.form__range) {
        @include media("min", "md") {
          grid-column: span 2 / span 2;
          max-width: 420px;
        }
      }
    }
    .form__button {
      margin-top: 25px;
      @include media("min", "md") {
        grid-column: span 2 / span 2;
      }
    }
  }
}

// Style for buttons
