@import "../../styles/core/core.scss";

.navigation {
  @include transition;
  width: 100%;
  padding: 0 rem(20px);
  border-bottom: 1px solid var(--border-nav-color);
  display: grid;
  grid-template-rows: 80px;
  grid-template-columns: minmax(0, 1fr) 32px 40px;
  column-gap: rem(20px);
  align-items: center;
  position: relative;
  background: transparent;
  &.dark {
    background: var(--main-color);
  }
  @include media("min", "md") {
    padding: 0;
    column-gap: 0;
    grid-template-rows: rem(80px) rem(81px);
    justify-content: stretch;
    align-items: stretch;
    grid-template-columns: repeat(2, minmax(max-content, 1fr)) max-content;
  }
  @include media("min", "lgBig") {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

// Logo block
.navigation__logo {
  @include flex(center, center);
  @include media("min", "lgBig") {
    grid-row: 1 / span 2;
  }
}

// Geo Block
.navigation__geo {
  display: none;
  padding: 0 36px;
  border-style: solid;
  border-color: var(--border-nav-color);
  @include media("min", "md") {
    @include flex();
    padding: 0 20px;
    border-width: 0 1px;
  }
}

// Phone block
.navigation__phone {
  @include flex();
  border-style: solid;
  border-color: var(--border-nav-color);
  @include media("min", "md") {
    padding: 0 20px;
  }
  @include media("min", "lgBig") {
    border-right-width: 1px;
  }
}

// Main menu block
.navigation__menu {
  display: none;
  grid-column: 1 / span 2;
  align-self: stretch;
  @include media("min", "md") {
    display: flex;
    background-color: var(--white);
  }
  @include media("min", "lgBig") {
    grid-column: 2 / span 2;
  }
}

// Contact block
.navigation__contacts {
  display: none;
  border-style: solid;
  border-color: var(--border-nav-color);
  @include media("min", "md") {
    @include flex();
    border-top-width: 1px;
  }
}

// Button for Mobile Menu
.navigation__burger {
  @include media("min", "md") {
    display: none;
  }
}

// Style for navigation in FOOTER
.navigation.footer {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  height: auto;
  @include media("min", "md") {
    padding: 0;
    display: grid;
  }
  @include media("min", "lgBig") {
    padding: 0;
  }

  .navigation__menu {
    background-color: transparent;
    @include media("min", "md") {
      border: 1px solid var(--border-nav-color);
      border-bottom: none;
    }
  }

  @media screen and (max-width: 767px) {
    .navigation__logo {
      order: 1;
    }
    .navigation__geo {
      display: block;
      order: 3;
      margin: 45px 0 30px;
    }

    .navigation__phone {
      order: 4;
      .text__icon {
        .text__icon--icon {
          --icon-color: var(--white);
        }
        .text__icon--phone.mobile {
          color: var(--white);
          display: inline;
        }
      }
    }

    .navigation__social {
      display: grid;
      order: 5;
      margin: 30px 0;
    }

    .navigation__menu {
      display: block;
      border-bottom: 1px solid var(--border-nav-color);
      order: 2;
      margin-top: 30px;
    }

    .navigation__copyright {
      display: block;
      order: 6;
    }
  }
}
