@import "../../../styles/core/core.scss";

.section__title {
  @include flex(center, flex-start);
  @include font(rem(16px), rem(28px));
  font-weight: 700;
  @include media("min", "lg") {
    @include font(rem(20px), rem(35px));
  }
  @include media("min", "xxl") {
    @include font(rem(24px), rem(42px));
  }
  &--yellow {
    color: var(--yellow-dark);
  }
  &--wrap {
    display: grid;
    column-gap: 1em;
    justify-items: start;
  }
}
